body {
	/*background-color: lightgrey;*/
	background-image: url("../images/spaceBackground.jpg");
	color: white;
}

.page-header {
	/*text-align: center;*/
	padding-left: 40px;

}


#character-row {
	margin-bottom: 10px;
}




/*style atributes for chacter sheet*/
.characterSheet{
	background-color: lightgreen;
	border: solid 3px black;
	height: 300px;
	width: 185px;
	margin-right: 10px;
	margin-bottom: 10px;
}

	#name-tag {
		text-align: center;
	}

	#characterImage {
		height: 230px;
		width: 150px;
	}

	#HP {
		text-align: center;
	}

/*end of style atributes for chacter sheet*/


#attackButton {
	/*margin-left: -10px;*/
}


#footer {
	margin-top: 300px;
	text-align: center;
}


/*classes added through JQuery*/
.opponentStyle {
	background-color: #F75D59;
}

.playerOne {
	background-color: #6CBB3C;
}

.playerTwo {
	background-color: #9F000F;
}

.updatedAttackButton {
	margin-top: 180px;
	margin-left: 10px;
}